/* src/app/nuevo/nuevo.component.scss */
ion-card{
    width:400px;
    height: 400px;
    
}
ion-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    ion-label{
        text-align: justify;
        padding: 20px;
    }
}