
<ion-header >
  <ion-toolbar >
    <div class="Header">
    <ion-title style="width: 60%; text-align: center;">Ejercicio 1</ion-title>
    <ion-icon name="arrow-forward-outline" style="width: 20%;" (click)="next()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-componente1 nombre="Miguel Valdivieso" image="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1704326400&semt=sph" info="Edad: 35; CI: 0183291387; Estado Civil: Casado"></app-componente1>
</ion-content>
